* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Noto Sans Bengali', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* global style */
.title {
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 1.25rem;
    letter-spacing: .15px;
}

.global-section {
    width: 100%;
    padding: 60px 0px;
}

.global-section-child {
    width: 80%;
    margin: auto;
}

.global-section-child p {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5rem;
    line-height: 1.75rem;
    color: #525252dc;
}

/* global style */


/* title design start */
.logo {
    font-size: 46px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 30px;
}

.logo span {
    color: red;
}

/* title design end */



/*===============
main design start 
===============*/

/* section one design start */

.service-img img {
    margin-bottom: 24px;
    width: 72px;
    height: 72px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    gap: 3rem;
    padding-top: 1.75rem;
}

.service {
    text-align: center;
}

.service-details .service-title {
    font-size: 20px;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: black;
}

.service-details p {
    font-size: 14px;
    font-weight: 600;
    width: 80%;
    margin: auto;
}


@media (max-width:992px) {
    .global-section-child {
        width: 98%;
        margin: auto;
    }

    .service-details p {
        width: 100%;
    }
}

@media (max-width:767px) {

    .services {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        gap: 1rem;
    }

    .global-section-child .title {
        font-size: 20px;
    }

    .section-one-child p {
        font-size: 14px;
    }

    .service-img img {
        margin-bottom: 24px;
        width: 48px;
        height: 48px;
    }

    .service-details .service-title {
        font-size: 14px;
    }

    .service-details p {
        display: none;
    }

}

/* section-one design end */


/* section-two design start */
.comments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 26px;
}

.comments .comment {
    position: relative;
    /* width: 344px; */
    /* margin: auto; */
}



.img-one .bg-image {
    /* max-width: 100%; comment for checking  */
    max-width: 100%;
    height: auto;
    position: absolute;
    /* top: -74px; comment for checking */
    /* left: -20px; comment for checking */
    top: -70px;
    left: -16px;
}

.comment-details {
    position: relative;
    z-index: 11111;
    text-align: left;
    background-color: #fff;
    border-radius: 20px;
    min-height: 300px;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 5px 5px 15px -5px #d8d8d8;
    /* transition: all .8s; */
}

/* .comment-details:hover{
    background-color: rebeccapurple;
    transform: translateY(-30px);
} */

.comment-details .img-two {
    position: absolute;
    top: -16px;
    left: 24px;
}

.user-data {
    display: flex;
    align-items: center;

}

.user-data .user-information {
    padding-left: 1rem;

}

.user-information .user-name {
    font-size: 20px;
    font-weight: 500;
    color: #282929;
    text-align: left;
}

.user-information p {
    color: #afafaf;
    font-size: 14px;
    margin: 0;
    text-align: left;
}


.user-comment .user-data img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.user-comment .user-text {
    margin-bottom: 0;
    padding-top: 1rem;
    font-size: 16px;
    color: #8d8d8d;
}


@media (max-width:767px) {
    .comments {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
    }
}

/* section-two design end */


/* section-three design start */

.achivements {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}

.achivements .achivement-img img {
    max-width: 100%;
    height: auto;

}

.achivements {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
}


.achivement-detial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.achive-data {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 14px;
}

.achive-data .achive-data-img img {
    width: 5rem;
}

.achive-data-details h1 {
    font-size: 30px;
    font-weight: 500;
    color: rgb(24, 24, 24);
}

.achive-data-details h3 {
    color: #838383;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;

}


@media (max-width:767px) {

    .achivements {
        padding-left: 0;
        padding-right: 0;
    }

    .achivements .achivement-img img {
        display: none;
    }

    .achivements {
        display: block;
        grid-gap: 0px;
    }

    .achive-data {
        padding: .3rem .3rem 1rem .3rem;
        gap: 6px;
    }


    .achive-data .achive-data-img img {
        width: 3rem;
    }

    .achive-data-details h1 {
        font-size: 16px;
        font-weight: 600;
    }

    .achive-data-details h3 {
        font-size: 14px;
    }


}

/* section-three design end */

/* section-four design start */
.section-four-child .courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.courses-card {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    transition: all .4s;
}

.courses-card:hover{
    transform: translateY(-20px);
}

.courses-card .courses-img img {
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.courses-details h3 {
    border-bottom: 1px solid black;
    font-size: 18px;
    padding: 12px;
    font-weight: 600;
}

.buy-courses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.buy-courses p{
    margin: 0;
    padding: 0;
    display: inline;
    color: black;
    font-size: 20px;
}
.buy-courses p a{
    text-decoration: none;
    color: #27895D;
    font-size: 16px;
    font-weight: 600;
}




/* section-four design end */

/*=============
main design end 
=============*/




/* global responsive start */
@media (max-width:992px) {
    .global-section-child {
        width: 98%;
    }
}


@media (max-width:767px) {

    .global-section-child .title {
        font-size: 20px;
    }

}

/* global responsive start */